{% set current_page = "assignees" %}
{% extends 'base.html' %}
{% block body %}
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ assignee.name }}</h3>
                <p class="card-text">
                    <div class="font-weight-bold">Phone Numbers</div>
                    {% for number in assignee.numbers %}
                        <div class="dropdown m-1">
                            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="number{{ loop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ number.number }}
                            </button>
                            <div class="dropdown-menu p-2 col" aria-labelledby="number{{ loop.index }}">
                                <h5>Address</h5>
                                <div class="border rounded py-1 px-2">
                                    {{ number.street_address }}<br/>
                                    {{ number.city }}, {{ number.state }} {{ number.postal_code }}
                                </div>
                                <hr>
                                <h5>Device Information</h5>
                                {% for key, value in number.extra.items() %}
                                    <div>
                                        <span class="font-weight-bold">{{ key | replace('_', ' ') | title }}</span>
                                        <span class="text-muted">{{ value }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
