{% set current_page = "import" %}
{% extends 'base.html' %}
{% block body %}
    <div>
       <h2>Import Phone Numbers</h2>
       <p>Uploaded files should be in CSV format.</p>
       <form method="POST" enctype="multipart/form-data">
           <div class="form-row">
               <div class="form-group col-auto">
                   <label for="csvfile">Import file</label>
                   <input type="file" class="form-control-file border border-light" id="csvfile" name="csvfile">
               </div>
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
       <form>
    </div>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-info alert-dismissible fade show mt-2" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}


{% endblock %}
