{% set current_page = "review" %}
{% extends 'base.html' %}
{% block body %}
    <h2>Conflicting Numbers</h2>
    <p>Select an action for each row to resolve each conflict, then click the Process Conflicts button below.</p>
    <form method="POST" action="/reviews/process">
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead class="table-primary">
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Carrier</th>
                    <th>Address</th>
                    <th>Match</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for conflict, original in pagination.items %}
            <tr>
                <td>
                    <a href="/assignee/{{ conflict.assigned_to.id }}">{{ conflict.assigned_to.name }}</a>
                </td>
                <td>{{ conflict.number }}</td>
                <td>
                    {{ conflict.type }}
                    {% if conflict.type == 'mobile' %}
                      <br/>{{ conflict.extra.device_type }}
                    {% elif conflict.type == 'Avaya' %}
                      <br/>{{ conflict.extra.phone_type }}
                    {% endif %}
                </td>
                <td>
                    {% if conflict.type == 'mobile' %}
                        {{ conflict.extra.carrier }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {{ conflict.street_address }}<br/>
                    {{ conflict.country.name }}
                </td>
                <td>
                    {{ original.assigned_to.name }}<br/>
                    {{ original.number }}<br/>
                    {{ original.street_address }}<br/>
                    {{ original.country.name }}
                </td>
                <td>
                    <select name="action">
                        <option value="nothing|{{ conflict.id }}">Do Nothing</option>
                        <option value="merge|{{ conflict.id }}|{{ original.id }}">Merge</option>
                        <option value="delete|{{ conflict.id }}">Delete Conflict</option>
                        <option value="replace|{{ conflict.id }}|{{ original.id }}">Replace</option>
                        <option value="save|{{ conflict.id }}">Save as New</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Process Conflicts</button>
        </div>
    </form>
    <div class="container pt-3">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}"><a class="page-link" href="/">First</a></li>
                <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}"><a class="page-link" href="/?page={{ pagination.prev_num }}">Prev</a></li>
                {% for page in pagination.iter_pages() %}
                    {% if not page %}
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    {% else %}
                        <li class="page-item {% if page == pagination.page %}active{% endif %}"><a class="page-link" href="/?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if pagination.page == pagination.pages %}disabled{% endif %}"><a class="page-link" href="/?page={{ pagination.next_num }}">Next</a></li>
                <li class="page-item {% if pagination.page == pagination.pages %}disabled{% endif %}"><a class="page-link" href="/?page={{ pagination.pages }}">Last</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
