{% set current_page = "users" %}
{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div class="col-10">
            <h2>Users</h2>
        </div>
        <div class="col-2 text-right">
            <button type="button" class="btn btn-primary btn-sm mt-2" onClick="window.location.href = '/user/new';">Add User</button>
        </div>
    </div>
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead class="table-primary">
            <th>User</th>
            <th>Is Admin?</th>
            <th>Groups</th>
        </thead>
        <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>
                        <a href="/user/{{ user.id }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>
                        {{ user.is_admin }}
                    </td>
                    <td>{{ user.groups | map(attribute='name') | sort | join(', ') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container pt-3">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}"><a class="page-link" href="/users.html">First</a></li>
                <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}"><a class="page-link" href="/users.html?page={{ pagination.prev_num }}">Prev</a></li>
                {% for page in pagination.iter_pages() %}
                    {% if not page %}
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    {% else %}
                        <li class="page-item {% if page == pagination.page %}active{% endif %}"><a class="page-link" href="/users.html?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if pagination.page == pagination.pages %}disabled{% endif %}"><a class="page-link" href="/users.html?page={{ pagination.next_num }}">Next</a></li>
                <li class="page-item {% if pagination.page == pagination.pages %}disabled{% endif %}"><a class="page-link" href="/users.html?page={{ pagination.pages }}">Last</a></li>
            </ul>
        </nav>
    </div>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning border border-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}
