{% set current_page = "users" %}
{% extends 'base.html' %}
{% block body %}
    <h3>{% if new_user %}Add User{% else %}{{ user.username }}{% endif %}</h3>
    {% if new_user %}
        <form method="POST" action="/user/new" id='user_form'>
            <div class="form-group row">
                <label class="col-2" for="username">Username</label>
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="Username" name="new_username">
                </div>
            </div>
    {% else %}
        <form method="POST" action="/user/{{ user.id }}">
    {% endif %}
        <div class="form-group row">
          <label class="col-2" for="new_password">Password</label>
            <div class="col-5">
                <input type="password" class="form-control" placeholder="Password" name="new_password">
                {% if not new_user %}
                    <small id="password_help" class="form-text text-muted">Leave this field empty to keep current password.</small>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2" for="is_admin">Is Admin?</label>
            <div class="col-1">
                <input type="checkbox" class="form-control form-check-input" value="True" name="is_admin" {% if user and user.is_admin %}checked{% endif %}>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {% if not new_user %}
                <div class="col align-right">
                    <button type="button" class="btn btn-danger" onClick="confirm_delete_user({{ user.id }})">Delete</button>
                </div>
            {% endif %}
        </div>
    </form>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning border border-warning mt-2" role="alert">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}
