{% set current_page = "users" %}
{% extends 'base.html' %}
{% block body %}
    <h3>{{ user.username }}</h3>
    <form method="POST" action="/user/{{ user.id }}">
        <div class="form-group row">
          <label class="col-2" for="new_password">New Password</label>
            <div class="col-5">
                <input type="password" class="form-control" placeholder="New Password" name="new_password">
                <small id="password_help" class="form-text text-muted">Leave this field empty to keep current password.</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2" for="is_admin">Is Admin?</label>
            <div class="col-1">
                <input type="checkbox" class="form-control form-check-input" value="True" name="is_admin" {% if user.is_admin %}checked{% endif %}>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if updated %}
        <div class="alert alert-info alert-dismissible fade show mt-2" role="alert">
            User updated!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}
